In [2]:
import pandas as pd
import numpy as np

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Hackathon_ML-Model/AIML Dataset.csv')

df.head()

   step      type    amount  ... newbalanceDest  isFraud  isFlaggedFraud
0     1   PAYMENT   9839.64  ...            0.0        0               0
1     1   PAYMENT   1864.28  ...            0.0        0               0
2     1  TRANSFER    181.00  ...            0.0        1               0
3     1  CASH_OUT    181.00  ...            0.0        1               0
4     1   PAYMENT  11668.14  ...            0.0        0               0

[5 rows x 11 columns]

Checking for NULL Values

In [9]:
df.isnull().values.any()

False

Count number of unique Transaction IDs

In [4]:
types = list(df.nameOrig.values)

In [5]:
len(types)

6362620

In [6]:
unq_type = list(set(types))

len(unq_type)

6353307

Statistical Analysis of Dataset

In [8]:
df.describe()

               step        amount  ...       isFraud  isFlaggedFraud
count  6.362620e+06  6.362620e+06  ...  6.362620e+06    6.362620e+06
mean   2.433972e+02  1.798619e+05  ...  1.290820e-03    2.514687e-06
std    1.423320e+02  6.038582e+05  ...  3.590480e-02    1.585775e-03
min    1.000000e+00  0.000000e+00  ...  0.000000e+00    0.000000e+00
25%    1.560000e+02  1.338957e+04  ...  0.000000e+00    0.000000e+00
50%    2.390000e+02  7.487194e+04  ...  0.000000e+00    0.000000e+00
75%    3.350000e+02  2.087215e+05  ...  0.000000e+00    0.000000e+00
max    7.430000e+02  9.244552e+07  ...  1.000000e+00    1.000000e+00

[8 rows x 8 columns]

Checking which type of transactions are fraudulent

In [10]:
print('The types of fraudulent transactions are {}'.format(\
list(df.loc[df.isFraud == 1].type.drop_duplicates().values)))

The types of fraudulent transactions are ['TRANSFER', 'CASH_OUT']

In [11]:
dfFraudTransfer = df.loc[(df.isFraud == 1) & (df.type == 'TRANSFER')]
dfFraudCashout = df.loc[(df.isFraud == 1) & (df.type == 'CASH_OUT')]

print ('The number of fraudulent TRANSFERs = {}'.\
       format(len(dfFraudTransfer)))

print ('The number of fraudulent CASH_OUTs = {}'.\
       format(len(dfFraudCashout)))

The number of fraudulent TRANSFERs = 4097
The number of fraudulent CASH_OUTs = 4116